@model List<WlihaHackEviction.Models.TenantInfo>

@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @foreach (var item in @Model)
    {
    <li>
        <p>@item.Id</p>
        <p>@item.Name</p>
        <p>@item.Email</p>
        <p>@item.Phone</p>
        <p>@item.NumberOfPpl</p>
    </li>
    }
</ul>